
.card-img-top {
    width: 100%;
    /* height: 15vw; */
    height:250px;
    object-fit: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat:wght@400;600;700&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Yeseva+One&display=swap');

div{
    font-family: 'Poppins', sans-serif;
}
.carts{
    background-color:rgb(19, 10, 10);
    
        width:100%;
        background: #021a0cd3;
        border:none;
        border-radius: 0px 0px 8px 8px ;
       position:absolute;
    
        left:0;
        bottom:0;
    
}